In [1]:
import pandas as pd
import datetime as dt

In [2]:
dka=pd.read_csv('data_ka.csv')

In [3]:
dka.columns

Index(['Unnamed: 0', 'H-1', 'H-10', 'H-2', 'H-3', 'H-4', 'H-5', 'H-6', 'H-7',
       'H-8', 'H-9', 'H0', 'H1', 'H10', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7',
       'H8', 'H9', 'daopid', 'year', 'bis', 'daop', 'eko', 'eks', 'id',
       'kapasitas', 'kode', 'kodedaop', 'koordinat', 'kota', 'latitude',
       'lokal', 'longitude', 'moda', 'nama', 'provinsi'],
      dtype='object')

In [4]:
dka2=dka[['kota','id','year','H-10', 'H-9', 'H-8', 'H-7', 'H-6', 'H-5', 'H-4', 'H-3',
       'H-2', 'H-1', 'H0', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7',
       'H8', 'H9', 'H10']]
dka2[dka2.kota.isin(['Kota Padang','Kota Bandung'])].transpose()

                2             3            20           21
kota  Kota Bandung  Kota Bandung  Kota Padang  Kota Padang
id             119           119          424          424
year          2016          2017         2016         2017
H-10         39072         38083         2375         2273
H-9          35945         43416         2663         2362
H-8          33849         53651         2304         1888
H-7          35827         63734         2573         2516
H-6          35582         55872         2547         2775
H-5          36677         52481         2370         3081
H-4          43557         52047         2682         2910
H-3          42589         54663         2568         3065
H-2          38321         55449         2457         2483
H-1          29787         42784         1735         1676
H0           37171         46569         1697         1273
H1           49640         10012         4374            0
H2           45569          7842         4441            0
H3           46951          8730         4702            0
H4           46518          9069         4559            0
H5           44990         10088         4568            0
H6           41228             0         4447            0
H7           40198             0         4668            0
H8           39710             0         4636            0
H9               0             0            0            0
H10          39131             0         4364            0

In [5]:
#Padang is not complete

In [6]:
dka2=dka2[dka2.kota!='Kota Padang']

In [7]:
# cit='Kota Jakarta Pusat'
# yea=2016

dta=pd.DataFrame()
j=0
for cit in dka2.kota.unique():
    for yea in dka2.year.unique():
        dte=pd.DataFrame()
        dk=dka2[(dka2.kota==cit)&(dka2.year==yea)]
        dk1=dk[dk.columns[3:]].transpose()
        dte['passenger']=dk1[dk1.columns[0]].values
        dte['time']=[int(i) for i in range(len(dte))]
        dte['year']=yea
        dte['city']=cit
        dta=dta.append(dte)

In [8]:
dateh_2016=dt.datetime.strptime('2016-07-06','%Y-%m-%d')
dateh_2017=dt.datetime.strptime('2017-06-25','%Y-%m-%d')
dateh_2016_10=dateh_2016+dt.timedelta(-10)
dateh_2017_10=dateh_2017+dt.timedelta(-10)

In [9]:
dta2=pd.DataFrame()
for ye,da in zip([2016,2017],[dateh_2016_10,dateh_2017_10]):
    dr=dta[dta.year==ye]
    dr['mudik_date']=dr.time.apply(lambda x: da+dt.timedelta(x))
    dta2=dta2.append(dr)

C:\Users\Aska\Anaconda2\envs\snakes3_gpu\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
time_c=dict(zip([i for i in range(21)],['h'+str(-10+i) for i in range(10)]+['h+'+str(i) for i in range(11)]))

In [11]:
dta2['days_type']=dta2['time'].apply(lambda x: time_c[x])

In [12]:
dta2.head()

   passenger  time  year                city mudik_date days_type
0      51688     0  2016  Kota Jakarta Pusat 2016-06-26      h-10
1      58230     1  2016  Kota Jakarta Pusat 2016-06-27       h-9
2      56555     2  2016  Kota Jakarta Pusat 2016-06-28       h-8
3      59412     3  2016  Kota Jakarta Pusat 2016-06-29       h-7
4      60949     4  2016  Kota Jakarta Pusat 2016-06-30       h-6

In [13]:
fi_n='data_ka_20162017.xlsx'
fi=pd.ExcelWriter(fi_n)
dta2.to_excel(fi,'the_data')
fi.save()
fi.close()